<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Immigrazione irregolare in Italia</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Notizie</a></li>
          <li><a href="#">Statistiche</a></li>
          <li><a href="#">Opinioni</a></li>
          <li><a href="#">Contatti</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Immigrazione irregolare in Italia</h1>
      <section>
        <h2>
          Benvenuti sul sito dedicato all'immigrazione irregolare in Italia
        </h2>
        <div class="paragraph">
          <p>
            Il fenomeno dell'immigrazione irregolare in Italia è al centro di un
            grande dibattito pubblico. Scopri le ultime notizie e le statistiche
            aggiornate sul numero di sbarchi di migranti irregolari in Italia nel
            nostro sito.
          </p>
          <a href="#" class="button">Leggi di più</a>
        </div>
      </section>
      <section>
        <h2>Statistiche sul fenomeno migratorio in Italia</h2>
        <div class="paragraph">
          <p>
            Consulta le statistiche aggiornate sul numero di immigrati irregolari
            che sono sbarcati in Italia nel primo trimestre del 2023 e scopri
            quali sono le principali direttrici del fenomeno migratorio verso
            l'Europa.
          </p>
          <a href="#" class="button">Visualizza le statistiche</a>
        </div>
      </section>
      <section>
        <h2>Opinioni a confronto sul fenomeno migratorio in Italia</h2>
        <div class="paragraph">
          <p>
            Scopri cosa ne pensano gli esperti del fenomeno migratorio in Italia e
            confronta le diverse opinioni sulla gestione dell'immigrazione
            irregolare nel nostro paese.
          </p>
          <a href="#" class="button">Scopri le opinioni</a>
        </div>
      </section>
    </main>
    <footer>
      <p>
        © 2023 Immigrazione irregolare in Italia - Tutti i diritti riservati
      </p>
    </footer>
  </body>
</html>
